$primary_color: #000014;
$secondary_color: orange; 
$light-color: #f8fafc;
$dark-color: rgba(0, 0, 0, 0.911);
$shadow: 1px 2px 6px rgba(0, 0, 0, 0.911);
$shadow-sm: .4px 1px 3px $dark-color;
$green: #38c172;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$opaque: rgba(0,0,100, 0.1);
$fade:   .5s all;


// Set text color depending on the lightness of a background

@function setBackground($color){
    @if(lightness($color) > 70){
        @return  rgba(0, 0, 0, 0.911);
    }@else{
        @return #f8fafc;
    }
}

@mixin setTextBackground($color){
    background-color: $color;
    color: setBackground($color);
}

@mixin alert($color){
    background-color: lighten($color, 43);
    color: darken($color, 20);
    box-shadow: .3px 1px 3px $color;

    div{
        background: $color;
        svg{
            fill: lighten($color, 45);
        }
    }

    a.close{
        color: darken($color, 25);
    }
}