@import 'config';

@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }

    .flex-rep{
        flex-direction: column;
    }

    .card{
        width: 100%!important;
    }

}

